<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Awesome ToDoList Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Let's create your ToDo List! 🤘</h1>

      <form class="new-task" action="/submit" method="POST">
        <input
          class="input"
          type="text"
          name="addTask"
          id="addTask"
          placeholder="Add a task"
        />
        <button type="submit" class="btn" id="submit">+</button>
      </form>
      <div>
        <% if (locals.tasks) { %>
        <ul>
          <%tasks.forEach((task)=> { %>
          <li><%=task %></li>
          <%}) %>
        </ul>
        <% } %>
      </div>
    </div>
  </body>
</html>
