html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url('../images/pattern_memphis.png');
  background-size: cover;
  background-position: center center;
  font-family: 'Poppins', sans-serif;
  color: #bc38fe;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: -1px -2px 0px 0px rgba(255, 255, 255, 0.25) inset;
  backdrop-filter: blur(7.5px);
}

h1 {
  color: #cb69fc;
  text-align: center;
  font-size: 3rem;
  font-family: 'Agbalumo', sans-serif;
  margin-bottom: 3rem;
}
.new-task {
  display: flex;
  justify-content: baseline;
  gap: 3rem;
}
.input {
  font-family: inherit;
  font-size: 1.5rem;
  color: #bc38fe;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #bc38fe;
  padding: 0.5rem;
  width: 30rem;
}

.input:focus {
  outline: none;
}

::placeholder {
  color: #bc38fe;
}

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffcbf2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #bc38fe;
  border: 0;
}
